.cont {
  display: flex;
}

.icons {
  width: 50%;
  display: inline;
  position: absolute;
  font-size: 1.2rem;
  vertical-align: center;
  display: flex;
  justify-content: end;
  flex-direction: row;
  margin: auto;
  right: 10px;
}

.icon1 {
  display: inline;
  color: blue;
  margin-right: 0.5rem;
  cursor: pointer;
}

.icon2 {
  color: red;
  cursor: pointer;
}
